@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.resume-container {
    display: flex;
    flex-direction: column;
}
.general-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-header {
    font-size: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

@media print {
    .cv-form-container{
      display:none;
    }
    .print-button {
        display: none;
    }
    @page { margin: 0; }
  }