@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    background-color: #346da0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-header {
    font-size: 45px;
    color: black;
    background-color: #fdf2f2;
    height: 70px;
    padding-top: 20px;
    line-height: 50px;
    text-indent: 50px;
    box-shadow: 2px 2px 8px rgb(70, 66, 66);
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.sub-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin: 40px;
}

.cv-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
}


.form-section-title {
    font-size: 23px;
    border-bottom: solid;
    border-width: 1px;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

input {
    width: 90%;
    height: 25px;
    clear: left;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 3px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fdf2f2;
    border: solid;
    border-color: white;
}

input:focus {
    outline: none;
}

label:before {
    content: "\a";
    white-space: pre;
}

label {
    line-height: 1;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 20px;
    clear: left;
    width: 100%;
    
}

button {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #346da0;
    color: white;
    border: solid;
    border-width: 1px;
    font-family: 'Lato', sans-serif;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #598fbe;
}

.delete-entry {
    position: relative;
    bottom: 2px;
    border-radius: 50%;
    width: 30px;
    font-size: 10px;
    font-weight: 600;
    height: 30px;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center
}
.resume-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#fdf2f2;
    box-shadow: 5px 7px 19px 3px rgba(0,0,0,0.74);
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}
.general-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-header {
    font-size: 45px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.info.header {
    font-size: 70px;
}

.section-title {
    font-size: 25px;
    border-bottom: solid;
    border-width: 1px;
    
}

p {
    line-height: 0.5;
    overflow-wrap: break-word;
}

.entry-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: -18px;
}

.title-text {
    font-weight: 600;
}

.date-title {
    font-style: italic;
}

.print-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
}

@media print {
    .cv-form-container{
      display: none;
    }

    .form-header{
        display: none;
    }
    .print-button {
        display: none;
    }
    .sub-container {
        display: block;
    }

    .resume-container {
        box-shadow: none;
    }
    @page { margin: 0; }
  }